{% extends 'themes/base_visitor.html.twig' %}
{% block title %}Nos articles{% endblock %}

{% block description %}Consultez la liste de mes articles pertinents sur le bien-être, la santé{% endblock %}

{% block keywords %}Liste, articles, médecine, Jean-Dupont, Accueil{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">La liste de nos articles</h1>
{% endblock %}