{% extends 'themes/base_visitor.html.twig' %}
{% block title %}Contactez-moi{% endblock %}

{% block description %}Contactez-moi pour plus d'informations{% endblock %}

{% block keywords %}Contact, blog, médecine, Jean-Dupont, Accueil{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Contactez-moi</h1>
{% endblock %}