{% extends 'themes/base_visitor.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block description %}Découvrez le blog de Jean Dupont sur la médecine{% endblock %}

{% block keywords %}Blog, médecine, Jean-Dupont, Accueil{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Accueil</h1>
{% endblock %}